nav {
    background: #20A759;
    color: #fff;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav .active,
nav a:hover {
    background: #0B6B3A;
}

h1 i {
    color: #e00b0b;
}

/* ID Selector */
#intro {
    background: #418fb1;
    border: 1px solid #ffffff;
    min-height: 100px;
    padding: 10px;
}

#second {
    background: #61b141;
    border: 1px solid #ffffff;
    min-height: 100px;
    padding: 10px;
}

#intro h1 {
    font-size: 16px;
    text-align: left;
    border: 0;
    color: #fff;
}

/* Class Selector */
.button {
    padding: 15px 20px;
    background: #bebcbd;
    color: #fff;
    display: inline-block;
    margin: 10px;
    text-decoration: none;
}

.btn-primary {
    background: #E42A42;
}

#paragraf-1 {
    color: #d0ff00;
}